

/* diff  */
html {
    background: #7B540E;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url('/images/artisan-background.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;   
    background-attachment: fixed;
}

.bundle-box-placeholder {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-image: url('/images/item-placeholder.png');
    background-size:     cover;                  

    background-repeat:   no-repeat;
    background-position: center center;   
    
}

#box-image-1 {
    background-image: url('/images/tea.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;       
}

#box-image-2 {
    background-image: url('/images/coffee.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;       
}

#box-image-3 {
    background-image: url('/images/ice-coffee.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;     
}

#box-image-4 {
    background-image: url('/images/wine.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;     
}

#box-image-5 {
    background-image: url('/images/cheese.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;     
}

#box-image-6 {
    background-image: url('/images/caviar.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;     
}




#requirement-1 {
    background-image: url('/images/tea.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;       
}

#requirement-2 {
    background-image: url('/images/coffee.png');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;       
}


#requirement-3 {
    background-image: url('/images/ice-coffee.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;       
}


#requirement-4 {
    background-image: url('/images/wine.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;       
}


#requirement-5 {
    background-image: url('/images/cheese.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;       
}


#requirement-6 {
    background-image: url('/images/caviar.png');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;       
}




/* same */


@font-face {
	font-family: 'stardewFont';
	src: url('fonts/Stardew_Valley.otf'); 
	src: 
		local('Stardew Valley'),
		local('Stardew-Valley'),
		url('fonts/Stardew_Valley.otf') 
		format('opentype');
}

section h1, h2 {
    color: #E1A100;
    font-family: stardewFont;
    margin: 20px;
    font-size: 2rem;
}

section h2 {
    text-align: center;
}

section p {
    color: #E1A100;
    font-family: stardewFont;
    margin: 10px;
    font-size: 1.25rem;
    text-align: center;
}

.requirements-flexbox {
    display: flex;
    width: 800px;
    justify-content: center;
    margin: auto;

}

.requirement {
    height: 100px;
    width: 100px;
    background: white;
    margin: 5px;
}



.back {
    float: left;
    font-size: 1rem;
    zoom: 2;
    text-decoration: none;
    color: #E1A100

}

.header {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.bundle-flexbox {
    display: flex;
    width: auto;
    flex-direction: row-reverse;
}

.finished-item {
    margin: 10px;
    height: 100px;
    width: 100px;
}

form {
    display: flex;
    margin: 0px;
}

html {
    font-family: stardewFont;
}

input[type="text"] {
    font-family: stardewFont;
    font-size: 20px;
    border: 4px solid #FF8237;
    background: #F5B369;
    color: white;

}

button {
    background: #F7E389;
    border: 4px solid #FF8237;
    font-family: stardewFont;
    font-size: 16px;
}

.requirement-item-flexbox {
    margin: auto;
}

.requirement {
    margin: auto;
}

audio {
    margin-top: 350px;
    zoom: 0.5;
}


/* bundle complete */ 

.swal2-show {
    background: rgb(62,172,254)
}

#swal2-title {
    color: #3AE3F4;
}


#swal2-content {
    color: #3AE3F4;
}


.flexbox-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 800px;
    justify-content: space-around;
    box-sizing: border-box;
}


/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    
    .finished-item {
        margin: 20px;
        height: 200px;
        width: 200px;
    }

    .flexbox-container {
        flex-direction: column;
    }
    .bundle-flexbox {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .bundle-box-placeholder {
        width: 200px;
        height: 200px;
        margin: 20px;
    }
    form {
        margin: auto;
        justify-content: center;
        margin: 20px;

    }
    form input {
        font-size: 3rem;
    
    }
    form input[type="text"] {
        font-size: 3rem;
    
    }
    form button {
        font-size: 3rem;
    
    }

    p {
        font-size: 3rem;
    }

    h2 {
        font-size: 4rem;
    }

    section h1, h2 {
        font-size: 4rem;
        align-items: center;
    }

    .header {
        margin: auto;
        justify-content: center;
    }

    section {
        margin: 40px;
        margin-top: 80px;
    }
    .requirements-flexbox {
        flex-direction: column;

    }

    .requirement {
        width: 200px;
        height: 200px;
    }

    .requirement-description p {
        font-size: 40px;
    }

    section p {
        font-size: 40px;
        padding: 20px;
        padding-top: 10px;
    }


    #swal2-title {
        font-size: 4rem;
    }

    #swal2-content {
        font-size: 3rem;

    }

    .back {
        font-size: 2rem;
    }

}


