@font-face {
    font-family: 'stardewFont';
    src: url('fonts/Stardew_Valley.otf');
    src: local('Stardew Valley'), local('Stardew-Valley'), url('fonts/Stardew_Valley.otf') format('opentype');
}

section h1,
h2 {
    color: #e19f0e;
    font-family: stardewFont;
    margin: 20px;
    font-size: 4rem;
}

section h2 {
    text-align: center;
}

section p {
    color: #e19f0e;
    font-family: stardewFont;
    margin: 10px;
    font-size: 1.5rem;
    text-align: left;
}

.requirements-flexbox {
    display: flex;
    width: 800px;
    justify-content: center;
    margin: auto;
}

.back {
    float: left;
    font-size: 1rem;
}
.requirement {
    height: 100px;
    width: 100px;
    background: white;
    margin: auto;
}

html {
    background: #5DC7B2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/valley-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.bundle-flexbox {
    display: flex;
    width: 1000px;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    flex-flow: row wrap;
}

.bundle-box-placeholder {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-image: url('/images/item-placeholder.png');
    background-size: cover; /* <------ */

    background-repeat: no-repeat;
    background-position: center center;
}

#requirement-1 {
    background-image: url('/images/camera.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#requirement-2 {
    background-image: url('/images/cooking.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#requirement-3 {
    background-image: url('/images/coffee.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#requirement-4 {
    background-image: url('/images/music.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#requirement-5 {
    background-image: url('/images/makeup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#requirement-6 {
    background-image: url('/images/bath.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.requirement-item-flexbox {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.requirement-description p {
    text-align: center;
}

form {
    margin: 20px;
    display: flex;
}

html {
    font-family: stardewFont;
}

input[type='text'] {
    font-family: stardewFont;
    font-size: 20px;
    border: 4px solid #ff8237;
    background: #f5b369;
    color: white;
}

button {
    background: #f7e389;
    border: 4px solid #ff8237;
    color: gray;
}

audio {
    margin-top: 200px;
    zoom: 0.5;
}

/* bundle complete */

.swal2-show {
    background: rgb(62, 172, 254);
}

#swal2-title {
    color: #3ae3f4;
}

#swal2-content {
    color: #3ae3f4;
}

a {
    text-decoration: none;
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .requirement {
        width: 200px;
        height: 200px;
    }

    .bundle-flexbox {
        flex-direction: column;
        align-items: center;
    }
    .requirement-description {
        width: 200px;
    }
    .requirement-description p {
        font-size: 70px;
    }
    section {
        margin: 20px;
        margin-top: 80px;
    }

    section h1, h2 {
        font-size: 8rem;
    }
    section p { 
        font-size: 4.5rem;
    }
    .requirement-item-flexbox {
        width: 200px;
    }
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}